BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
# UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ColumnLimit: 0 # No column limit, or set to a large value like 120